server:
  port: 8085
spring:
  application:
    name: workflow-service
  datasource:
    url: jdbc:postgresql://localhost:5432/Diagnostic Decision Engine
    username: postgres
    password: dhe@1234    
  jpa:
    hibernate:
      ddl-auto: update
      
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka