server:
  port: 8084
  
spring:
  application:
    name: GuideDx Flow Runner Service
  datasource:
    url: jdbc:postgresql://localhost:5432/Diagnostic Decision Engine
    username: postgres
    password: dhe@1234
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379
      