server:
  port: 8081

spring:
  application:
    name: Diagnostic Decision Engine API Gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: auth-service-route
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
            - JwtAuthFilter
        - id: iam-service-route
          uri: lb://iam-service
          predicates:
            - Path=/iam/**
          filters:
            - StripPrefix=1
            - JwtAuthFilter
        - id: workflow-service-route
          uri: lb://workflow-service
          predicates:
            - Path=/api/workflow/**
          filters:
            - StripPrefix=2
            - JwtAuthFilter

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
